.wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;
    
    
    
    
}


.header-list {
    display: flex;
    
    
}


.logo-item {
    line-height: 25.75px;
    font-size: $_36px;
    color: rgba(101, 105, 128, 1);
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.logo-item::after {
    content: "BOX";
    color: $white;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: $_36px;
}

    .header-list-item a {
        line-height: 28px;
        font-size: $_13px;
        color: $white;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        line-height: 100px;
        
        
    }
    .menu-burger {
        display: none;
    }

    .header-list-item {
        width: 134px;
        text-align: center;
    }

    .header-list-item:hover {
    border-bottom: 3px solid #BABBC5;
    margin-bottom: -3px;
    }

    @media (max-width: 1024px)
    {
        .navigation-header {
            display: none;
        }
        .menu-burger {
            display: block;
        }
        .menu-item {
            line-height: 100px;
            color: $white;
            font-size: 40px;
        }
        
    }
    @media (max-width: 612px)
     {.logo-item {
         font-size: $_18px;
     }

     .logo-item::after {
        content: "BOX";
        color: $white;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        font-size: $_18px;
    }
     .menu-item {
        line-height: 50px;
        color: $white;
        font-size: 20px;
    }

     }
