@import 'variablescolor.scss';
@import 'variablesfontsize.scss';
@import 'cdn.scss';
@import 'card-section';
@import 'main.scss';
@import 'img-section.scss';
@import 'header.scss';
@import 'headermain.scss';
@import 'section-person.scss';
@import 'ready-section.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'slider.scss';

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
.container {
    max-width: 1170px;
    margin: auto;
    position: relative;
    padding: 0 15px;
    z-index: 2;
       }

html {
    font-family: 'Cardo', serif;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
